<!-- <pre>
<%= Cowsay.say('"Your defences must therefore be as flexible and inventive as the arts you seek to undo"- Professor Snape', "Dragon") %>
</pre>
<h1>Florentina Ilie</h1>
<h2>Weekly Lectures Overview</h2>
<p>
  The time is now: <%= Time.now %>
</p> --> -->
<!-- <html lang="en"> -->
<head>
	<style>
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  </style> 
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid bg-1 text-center">
	<!-- <h3>Who Am I?</h3> -->
	<img src="assets/images/FI.jpg" class="img-circle" alt="Florentina Ilie">
	<h3>Florentina Ilie</h3>
</div>
</body>
<!-- </html>