<pre>
<%= Cowsay.say('"Your defences must therefore be as flexible and inventive as the arts you seek to undo"- Professor Snape', "Dragon") %>
</pre>
<h1>Florentina Ilie</h1>
<h2>Weekly Lectures Overview</h2>
<p>
  The time is now: <%= Time.now %>
</p>
